
@config "../../tailwind.conf.mjs";
@import "tailwindcss";

:root {
  --bg-light: #f8fafc;
  --bg-dark: #0c1425;
}

html {
    overflow-y: scroll;
}

body {
    overflow-x: hidden;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-group(root) {
  background-color: var(--bg-light);
}

.dark ::view-transition-group(root) {
  background-color: var(--bg-dark);
}

.content-switching * {
  transition: none !important;
}