---
import { siteConfig } from '../config/site';
---

<footer data-testid="site-footer" class="py-12 text-center text-sm font-sans text-gray-500 border-t border-gray-100 dark:border-gray-800 mt-12 bg-light dark:bg-dark">
  <p>{siteConfig.author.name} ©   2024 - {new Date().getFullYear()}.    Construido con Astro & Keystatic.</p>
</footer>